@import url("https://use.typekit.net/tll3wuz.css");

/* CSS Styling for all the pages */

/* Body element styling */
body{
    overflow-x: hidden;
}
.site-main{
    background-color: #faf4f5;
}

/* Header styling */
.site-header{
    background-color: #f7e0e4;
    height: 100px;
    border-bottom: 3px solid #a3002c;
}

/* Logo styling */
.custom-logo{
    margin-left:40px;
    margin-top:20px;
    height: 70px;
    width: 150px;
}

/* Header menu */
.menu input, .menu select, .menu a, .menu button {
    margin-bottom: 0;
    color: black;
    font-weight: bold;
}
.nav{
    margin-top:50px;
    margin-left:-30px;
    color: black;
}

.main-navigation{
    margin-left: 600px;
    margin-top: 50px;
}

ul.menu{
    color:black;
}

.menu li{
    color:black;
    text-decoration: none;
    margin-top: -100px;
    float: right;
}

.entry-header{
    visibility: hidden;
}
.menu-item{
    color:black;
}
.menu a:hover{
    color: #af0647;
    border-bottom: 1px solid #af0647;
}

#primary-menu{
    color:black;
}

/********************************** Home page Styling started ******************************/

/*Slider styling starting */
.slide{
    height: 600px;
    margin-top: -24px;
}
.txt{
    color: white;
    margin-left: 100px;
}

h2{
    text-align: center;
}

/* Styling products on home page */
.homeprod{
    width:400px;
    margin-left: 30px;
    box-shadow: 2px 2px 2px 2px  #af0647;
}
/*hover for text below the product image */
.wc-block-grid__product-title:hover{
    color:purple;
}

/* wrapper for video styling */
.wp-block-embed__wrapper {
    position: relative;
}
iframe{
    width:100%;
    height: 600px;
}
/* Custom Tutorials started */
.TutorialHeading{
    color: #af0647;
    font-weight: bold;
}
h3{
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: 30px;
    font-size: 38px;
    border-bottom: 2px solid #af0647;
}
.card{
    margin: 10px;
    height:300px;
}
.tut{
    border: 1px solid #af0647;
    box-shadow: 2px 2px #af0647;
    margin: 20px;
}
.wp-block-buttons .wp-block-button {
    display: inline-block;
    margin-left: 100px;
    margin-right: .5em;
    margin-bottom: .5em;
}
.wc-block-grid__products .wc-block-grid__product-image img {
    height: auto;
    /* width: 100%; */
}

.site-info{
    height: 200px;
}

/****************************** Shop Page Styling Started *******************************/


.wp-image-48{
    width: 1100px;
    height: 500px;
    margin-left: 180px;
    margin-top: -80px;
}
.woocommerce div.product div.images  {
    background-color: #fff;
    opacity: 0;
    width: 500px;
    margin-left: 100px;
    box-shadow: 20px 10px 20px grey;
}
.shopText{
    margin-left: 20px;
}
.woocommerce .columns-3 {
    margin-top: 100px;
}
.shocat{
    text-decoration: underline;
    text-align: center;
    font-size: 28px;
    margin: 30px;
}

/* shop slider styling */
.shopsl{
    margin-top: -80px;
}
.woocommerce ul.products li.product a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 19px;
    font-weight: bold;
}

/****************************** About Page Styling Started *******************************/

.girlpic{
    width:450px;
    height:450px;
    margin-left: 120px;
    margin-top: 30px;
}
/*About us heading */
.as{
    margin-top: -60px;
}
/*About us first paragraph styling */
.astxt{
    margin-left: -10px !important;
    color: black;
}

/*About us second paragraph styling */
.astxt2{
    margin-left: -30px;
    color: black;
}

/*About us third paragraph styling */
.astxt3{
    margin-left: -10px !important;
    margin-top: -10px;
    margin-bottom: -30px;
}
.astxt4{
    margin-left: -10px !important;
    margin-top: 40px;
    margin-bottom: -30px;
}


/****************************** Contact us Page Styling Started *******************************/

form{
    margin-left: 450px;
}
label{
    color: #af0647;
}
.wpforms-submit{
    background-color: #af0647;
    color:white;
}
div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
    background-color:  #af0647;
    border: 1px solid #ddd;
    color: white;
    font-size: 1em;
    padding: 10px 15px;
    margin-left: 190px;
    width: 200px;
}
div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
    width: 595px;
}
div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    display: block;
    font-size: 17px;
    float: none;
    font-weight: 400;
    line-height: 1.3;
    margin: 4px 0 0;
    padding: 0;
}
.blocks-gallery-grid.is-cropped .blocks-gallery-image a, .blocks-gallery-grid.is-cropped .blocks-gallery-image img, .blocks-gallery-grid.is-cropped .blocks-gallery-item a, .blocks-gallery-grid.is-cropped .blocks-gallery-item img, .wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 300px;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
    margin-left: 120px;
    margin-top: 20px;
}


/****************************** Blog Page Styling Started *******************************/


.wp-block-media-text__media img, .wp-block-media-text__media video {
    max-width: unset;
    width: 50%;
    height: 450px;
    margin-left: 200px;
    vertical-align: middle;
}
.has-medium-font-size {
    font-size: 1.25em;
    margin-left: -150px;
    margin-right: 100px;
}
/* 6 posts styled */
#post-250{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
}
#post-177{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
}

#post-258{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
}
#post-268{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
}
#post-283{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
}
#post-301{
    border: 2px solid #c01556;
    box-shadow: 20px 10px 20px grey;
    margin-top: 20px;
    width: 90%;
    margin-left: 70px;
    padding: 20px;
}
.more-link{
    text-align: center;
    margin-left: 600px;
    margin-top: -50px;
    background-color: pink;
    padding: 10px;
    font-size: 19px;
}

.video{
    margin-left: 10px;
}
.postpic{
    margin-left: 150px;
}
.para{
    margin-left: -140px;
    width:600px;
}
.kim{
    margin-left: 190px;
}
.kimpara{
    margin-left: -200px;
    width: 600px;
}
.vi{
    margin-left: 10px;
}
.four{
    margin-left: 300px;
}
.fourp{
    margin-left:-50px;
    width: 400px;
}
.fr{
    margin-left:-100px;
}
.hr{
    margin-left: 200px;
}
.hrp{
    margin-left:-50px;
    width: 600px;
}

/* heading above each post styled */
.head{
    padding: 10px;
    color: black;
    margin-top: -120px;
}
.head2{
    padding-left: 30px;
    padding-bottom: 30px;
}
.headp2{
    padding: 10px;
    color: black;
    margin-top: -120px;
}
.headp3{
    padding-left: 30px;
    color: black;
    margin-top: -120px;
    font-size: 43px;
}
.headp32{
    padding-left: 280px;
    padding-bottom: 30px;
}
.head4{
    padding-left: 30px;
    color: black;
    margin-top: -120px;
}
.headp4{
    padding-left: 280px;
    padding-bottom: 30px;
    color: #cf2e2e;
    font-size: italic;
}
.head5{
    padding-left: 30px;
    color: black;
    margin-top: -120px;
}
.headp5{
    padding-left: 250px;
    padding-bottom: 30px;
    color: #cf2e2e;
    font-size: italic;
}
.head6{
    padding-left: 30px;
    color: black;
    margin-top: -120px;
}
/* heading ended */


.wp-image-305{
    margin-left: 170px;
}

.comment-form{
    margin-left: 50px;
    width: 500px;
    margin-top: 20px;
}
.comment-reply-title{
    margin-left: 50px;
    background-color: #c01556;
    color: white;
    width: 420px;
    height: 80px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}
.post-navigation{
    padding-left: 600px;
    width: 900px;
}

/* input and button for contact page styled */
button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background-color: #c01556;
    color: white;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}


/***************************** Woocommerce styling on shop page ********************************/


.woocommerce ul.products li.product .button {
    margin-top: 1em;
    background-color:#c01556;
    color: white;
    margin-left: 150px;
    margin-bottom: 20px;
}
.woocommerce ul.products li.product .button:hover {
    
    background-color:#ac2a5a!important;
    color: white;
}
.woocommerce-order{
    margin-left: 100px;
}
.woocommerce-order-details__title{
    margin-left: -400px;
}
.woocommerce-order-details{
    margin-left: 400px;
}
.woocommerce ul.products li.product a img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    margin-left: 50px;
}
.woocommerce ul.products li.product .price {
    color: black;
    display: block;
    font-weight: 400;
    margin-left: 170px;
    margin-bottom: .5em;
    font-size: .857em;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1em;
    color: #a3002c;
}

.woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: .286em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #c01556;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}
.woocommerce .woocommerce-result-count {
    /* margin: 0 0 1em; */
    margin-left: 60px;
    font-size: 26px;
    color:  #c01556;
    margin-top: -50px;
    border-bottom: 1px solid #c01556;
}
.woocommerce .woocommerce-ordering {
    margin: 0 0 1em;
    margin-left: -300px;
    margin-right: 150px;
    margin-top: -50px;
    border-radius: 5px 5px 5px 5px;
    background-color: #c01556;
}

/************************* Woocommerce styling on product single page **********************/

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: white;
    background-color: #c01556;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    box-shadow: 1px 1px 1px 1px #c01556;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background-color: #fff;
    opacity: 0;
    width: 500px;
    margin-left: 100px;
}
.woocommerce div.product form.cart .variations {
    margin-bottom: 1em;
    border: 0;
    width: 400px;
    margin-left: -50px;
}

.cart{
    margin-left: 10px;
}

.woocommerce div.product form.cart .variations td.label {
    padding-right: 1em;
    color: white;
}
div.wpforms-container-full .wpforms-form .wpforms-field-label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    color: #c01556;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
}
label {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #c01556;
    color: #fefefe;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: black;
    font-size: 1.25em;
}
.woocommerce div.product .stock {
    color: #c01556;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #c01556;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    margin-left: -450px;
    color: crimson;
    border: 1px solid crimson;
}
strong{
    color: #c01556;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: white;
    text-shadow: inherit;
    background-color: #c01556;
    padding: 10px;
}
.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0 0 2em;
    padding: 30px;
}
.woocommerce div.product {
    margin-bottom: 0;
    position: relative;
    padding: 40px;
}


/********************************* Woocommerce styling on cart page *************************/


.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    margin-left: -200px;
    background-color: pink;
}
thead tr, tfoot tr {
    background-color: #c01556;
    color: white;
}
.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 9px 12px;
    vertical-align: middle;
    line-height: 1.5em;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    margin-left: 0px;
    color: crimson;
    border: 1px solid crimson;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left;
    margin-top: 300px;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    
    width: 48%;
    margin-left: -300px;
    margin-right: 350px;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
    float: none;
    background-color: #c01556;
    color: white;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: left;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    width: 140px;
    color: black;
}

/****************************** Checkout page styling ******************************/

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
    margin-left: -320px;
}
.woocommerce-additional-fields{
    margin-left: -250px;
}
.woocommerce-NoticeGroup-checkout{
    margin-left: -400px;
}
.woocommerce-info {
    border-top-color: #c01556;
}
a{
    line-height: inherit;
    color: #c01556;
    text-decoration: none;
    cursor: pointer;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #ebe9eb;
    border-radius: 5px;
    margin-left: -400px;
}
.nav-previous, .nav-next{
    background-color:pink; 
    color: white !important;
    padding: 10px;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    margin-left: 10px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 90%;
    margin-left: 150px;
    font-size: 18px;

}
.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 68%;
    font-size: 18px;
    margin-left: -20px;
    margin-top: -160px;
}
h2{
    color: #c01556;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 34px;
    font-weight: bold;
}

form.woocommerce-EditAccountForm.edit-account{
    margin-left: -400px;
}

.wp-image-413{
    margin-left: -100px;
}

.wp-image-360{
    margin-right: 20px;
}

.post-thumbnail{
    text-align: center;
}
.attachment-post-thumbnail{
    margin-top: -50px;
    border: 1px solid #c01556;
}
p{
    color: #c01556;
    margin-left: 10px;
}

.contacthead{
    margin-top: -50px;
}
#wpforms-179{
    margin-top: -20px;
    margin-left: -40px;
}

/******************************* Footer Styling started *******************************/

.first{
    margin: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.by, .privacy{
    text-align: center;
    color: black;
    margin-left: -40px;
    font-size: 17px;
}

#footer-menu{
    margin-top:100px;
    display: inline-block;
    padding-left: 500px !important;
}
.entry-footer{
    visibility: hidden;
}
.site-footer{
    background-color: #f7e0e4;
}

/****************************** Footer styling ended ****************************/

/*********************************** Mobile view ********************************/
@media (max-width: 824px){

    .slide{
        height: 500px;
    }
    .socialMedia{
        margin-left: 150px;
    }
    .woocommerce-result-count{
        margin-top: -300px;
    }
    .woocommerce-ordering{
        margin-left: 200px;
    }
    .head6{
        margin-top: -200px;
        margin-left: -40px;
    }
    .homeprod{
        margin-left: 50px;
    }
    .post-301, .post-283,.post-268, .post-258, .post-250, .post-177{
        margin-left: -500px;
    }
    .product{
        height: 200px;
        width: 50px;
        margin-left: -40px;
        box-shadow: white;
        border: none;
    }
    .woocommerce-loop-product__title{
        font-size: 11px;
    }
    .woocommerce-cart-form{
        margin-left: 260px;
        width: 400px;
    }
    .cart-collaterals, .cart_totals{
        width: 800px;
        margin-left: 400px;
    }
    .checkout-button:hover{
        background-color: black;
    }
    .woocommerce-account .woocommerce-MyAccount-navigation{
        margin-left: 10px;
    }
    .woocommerce-account .woocommerce-MyAccount-content{
        margin-top: -190px;
    }
}

/*********************************** Tablet view ********************************/
@media (min-width: 825px) and (max-width: 1023px) {

    .homeprod{
        width: 250px;
    } 
    .card{
        height: 200px;
    }
    .slide{
        height: 390px;
    }
    .product{
        width: 800px;
    }
    .woocommerce div.product div.images {
        margin-top: -110px;
        margin-left: -100px;
        box-shadow: 20px 10px 20px grey;
    }
     .entry-summary{
        margin-top: -600px;
        margin-left: 800px;
        width: 400px;
        margin-right: -100px;
    }

    .woocommerce div.product .woocommerce-tabs .panel {
       margin-top: -400px;
       margin-bottom: -100px;
    }

    .products{
        margin-left: 300px;
    }
    .related{
        height: 200px;
        margin-left: -0px;
    }
    .nav-previous, .nav-next{
        margin-top: 600px;
        margin-right: 100px;
    }
    .hr{
        margin-left: -10px;
    }
    .hrp{
        margin-left: -90px;
        width: 500px;
    }
    .more-link{
        margin-left: 350px;
        text-align: center;
    }
    .socialMedia{
        text-align: center;
    }
    .by{
        text-align: center;
    }
}

/*********************************** Desktop view ********************************/
@media (min-width: 1023px) and (max-width: 1600px) {
   
}